<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Note</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <meta name="description" content="GPG notes,, but on the web.">
    <meta name="keywords" content="gpg, notes, hackclub">
    <script src="https://unpkg.com/openpgp@6.2.2/dist/openpgp.min.js"> </script>
</head>

<body data-theme="dark">
    <div class="hero bg-base-200 min-h-screen">
        <div class="hero-content text-center">
            <div class="max-w-xl">
                <h1 class="font-bold text-3xl mb-2">Encrypted note</h1>
                <p>Subject: <%- data.title -%></p>
                <br>
                <textarea class="p-2" cols="60" rows="10" readonly><%= data.encContent.trim() %></textarea>
                <div>
                    <span>Created at: <%= data.createdAt.toString() %> </span>
                    <a href="data:text/plain;base64,<%=Buffer.from(data.pubUserId).toString('base64')%>"
                        download="users_pubkey.pub" class="btn">Download users public key</a>
                </div>
                <br>
                <div id="createkey"></div>
            </div>
        </div>
    </div>
</body>
<script src="/js/handle_create.js"></script>

</html>